* {
    margin: 0;
    padding: 0;
}

body {
    background-color: ivory;
}

#how-to-play {
    position: absolute;
    border: 2px solid black;
    background-color: ivory;
    z-index: 1;
    max-width: 600px;
    left: 150px;
    padding: 10px 20px;
    visibility: hidden;
}

nav {
    position: fixed;
    top: 0px;
    right: 150px;
}

nav button {
    width: 120px;
    font-size: 15px;
}

h1 {
    margin: 20px;
    text-align: center;
}

.participant h2 {
    text-align: center;
}

main {
    max-width: 500px;
    margin: 0 auto;
    display: block;
}

table {
    border: 1px solid black;
    display: block;
    margin: 10px auto;
    max-width: 180px;
    
}


button {
    height: 50px;
    width: 60px;
    font-size: 20px;
    margin: 20px auto;
    display: block;
}

#playerInputs {
    visibility: hidden;
}

#startGame {
    display: '';
}

#playGame {
    display: none;
}

#roundTwo {
    display: none;
}

#roundThree {
    display: none;
}

#reset {
    display: none;
}

.target {
    max-width: 150px;
    margin: 20px auto;
}

.target h3 {
    display: inline;
}

.game {
    display: flex;
    align-content: center;
}

.results {
    width: 100%;
}

.results p {
    display: inline;
}

.partcipant {
    min-width: 200px;
}

.dice {
    display: inline-block;
}

.d4 {
    display: '';
}
.d6 {
    display: '';
}
.d8 {
    display: '';
}
.d10 {
    display: '';
}
.d12 {
    display: '';
}